[user]
	name = Mateusz Probachta (Beetleman)
	email = mateusz.probachta@gmail.com
[push]
	default = simple
[merge]
	tool = meld
[diff]
	tool = meld
[core]
	excludesfile = /home/beetleman/.gitignore_global
